body {
  background: #87CEEB
}

.titulos-centralizados {
  text-align: center;
  color: #191970
}

#logo {
  width: 10%;
  margin: auto;
  display: block;


}

#principal {
  background: #00BFFF
}

#bordao {
  font-size: 50px;
  text-align: center;
  color: #191970;
  background: #00BFFF;
}

#nossaloja {
  text-align: center
  color: #191970
}

p {
  text-align: center;
  color: #191970
}

.produtos {
  background: #00BFFF;
  text-align: center;
}

#listprod{
  font-size: 50px;
  color: #191970
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 10%;
}

.itens {
  font-style: italic;
  color: #191970
}

.ftroupa {
  width: 400px;
  margin-left: 100px

}

