body {
  background: #87CEEB
}

.titulos-centralizados {
  text-align: center;
  color: #191970;
  font-family: sans-serif;
}

#logo {
  width: 15%;
  margin: auto;
  display: block;


}

#principal {
  background: #00BFFF
}

#bordao {
  font-size: 50px;
  text-align: center;
  color: #191970;
  background: #00FFFF;
}

#nossaloja {
  text-align: center;
  color: #191970;
  font-family: sans-serif;

}

p {
  text-align: center;
  color: #191970;
  font-family: sans-serif;
  font-weight: bolder;
}

.produtos {
  background: #00FFFF;
  text-align: center;
  font-family: sans-serif;
}

#listprod{
  font-size: 50px;
  color: #191970;
  font-family: sans-serif;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 10%;
}

.itens {
  color: #191970;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

#interno {
width: 400px;
  border-radius: 50%

}
